@import url('https://fonts.googleapis.com/css?family=Inter');

:root{
  --primary: #00274C;
  --secondary: #FFCB05;
  --tertiary: #FFFFFF;
  --error: #ff4a4a;
  background-color: var(--primary);
}

/* base styles & title */
body{
  font-family: 'Inter', sans-serif;
  color: var(--secondary);
}
.App{
  text-align: center;
  align-items: center;
  
}
.title h1{
  color: var(--tertiary);
  font-size: clamp(40px, 7vw, 85px);
  letter-spacing: 2px;
  font-weight: normal;
  border-bottom: 3px solid var(--tertiary);
}

.title h1 span{
  color: var(--secondary);
}

.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 15px;
  font-size: 1rem;
}


/* upload form styles */
label input {
  height: 0; 
  width: 0;
  opacity: 0;
}

label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--tertiary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--tertiary);
  font-weight: bold;
  font-size: 24px;
}

label:hover{
  background: var(--primary);
  color: var(--secondary);
}
.output{
  height: 40px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid{
  -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 10px;
}

.img-wrap img{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  margin-bottom: 15px;
}

/* handling smaller screens */
@media only screen and (max-width: 769px) {
  .img-grid{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding: 0 10px;
  }
}