@import url('https://fonts.googleapis.com/css?family=Inter');

:root{
  --primary: #FFCB05;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: 'Inter', sans-serif;
  color: var(--secondary);
}
.App{
  text-align: center;
  max-width: 960px;
  margin: 15px auto;
}
.title h1{
  color: var(--primary);
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 15px;
  font-size: 1rem;
}

/* upload form styles */


/* progress bar styles */


/* image grid styles */


/* modal styles */